* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

:root {
  --second-text-color: #737373;
  --text-color: #252b42;
  --secondary-color: #00a0c1;
  --primary-color: #ffa62b;
  --light-text-color: #ffffff;
  --secondary-color-2: #16697a;
  --muted-color: #bdbdbd;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 58px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

h3 {
  color: var(--text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-transform: capitalize;
}

h4 {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

h5 {
  color: var(--light-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

h6 {
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

button {
  border: none;
  outline: none;
  background: none;
}

p {
  color: var(--second-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}

input,
select,
textarea {
  border: 1px solid var(--muted-color);
  border-radius: 5px;
  background-color: #f9f9f9;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 0.2px;
}

footer {
  background-color: var(--text-color);
}

footer h3 {
  color: var(--light-text-color);
  padding: 40px 0;
}

hr {
  border-color: #364067;
  width: 1050px;
  margin: 0 auto;
}

.content-area {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.brand-name {
  flex-grow: 1;
}

.nav-links li {
  list-style: none;
  text-decoration: none;
}

.toggler-button {
  position: absolute;
  right: 59px;
  top: 45px;
}

.nav-links a {
  text-decoration: none;
  color: var(--second-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 21px;
}

.nav-icons {
  margin-left: 39px;
  display: inline-flex;
  align-items: center;
  gap: 18px;
}

.main-page-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 0;
  gap: 120px;
}

.main-page-header h4 {
  margin-bottom: 35px;
}

.round-btn-secondary-color {
  padding: 10px 36px;
  border-radius: 37px;
  margin-right: 10px;
  background-color: var(--secondary-color);
}

.appointment-form {
  width: 328px;
  background: #ffffff;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
}

.appointment-form h3 {
  text-align: center;
  padding-bottom: 40px;
}

.appointment-form label {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.btn-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: var(--light-text-color);
}

.appointment-form select,
.appointment-form input {
  width: 100%;
  height: 50px;
  color: var(--second-text-color);
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 28px;
}

.appointment-form button {
  background-color: var(--primary-color);
  border-radius: 5px;
  text-transform: capitalize;
  color: var(--light-text-color);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 40px;
  width: 248px;
}

.round-btn-transparent {
  padding: 10px 36px;
  border-radius: 37px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.section-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-header {
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 80px;
}

.section-main-content h2 {
  padding-bottom: 10px;
}

.feature-card {
  border-radius: 10px;
  background-color: #d9edff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.feature-card-header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 15px;
}

.feature-card-content {
  display: flex;
  flex-direction: column;
  border: 1px solid #a9d6ff;
  padding: 30px 50px 30px 50px;
  border-radius: 11px;
  gap: 5px;
  background-color: #ffffff;
  flex-grow: 1;
}

.feature-card-header h5 {
  color: var(--text-color);
}

.feature-card a,
.client-data a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--primary-color);
}

.play-btn {
  position: absolute;
  top: calc(50% - 98px / 2);
  left: calc(50% - 98px / 2);
}

.client-reviews {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.client-review-card {
  background-color: #ffffff;
  display: flex;
  border-radius: 5px;
  border: 1px solid #dedede;
}

.client-review-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 35px 30px 35px;
}

.client-data {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.team-members,
.features-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.team-member-card {
  border: 1px solid #eeeeee;
}

.team-member-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 5px;
}

.member-social-media {
  display: inline-flex;
  gap: 15px;
  align-items: center;
}

.book-appointment-btn {
  font-weight: 700;
}

.contact-us-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  width: 602px;
  justify-content: space-between;
  margin-bottom: 90px;
}

.contact-us-form input,
.contact-us-form select {
  height: 50px;
  width: calc(50% - 20px);
  flex-grow: 1;
  color: var(--second-text-color);
}

.contact-us-form textarea {
  width: 100%;
  height: 140px;
  padding-top: 16px;
  flex-grow: 1;
}

.contact-us-form div {
  display: inline-flex;
  gap: 20px;
}

.contact-us-form button {
  width: 218px;
  background-color: var(--primary-color);
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  font-weight: 400;
  margin-top: 20px;
}

.contact-btn {
  background-color: var(--primary-color);
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 400;
}

.contact-us-footer-row h3 {
  margin-bottom: 10px;
}

.contact-us-footer {
  background-color: #fafafa;
  height: 142px;
}

.contact-us-footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 40px 0;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  padding: 70px 0;
}

.social-media-icons {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.footer-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav-links,
.subscription-container h5 {
  padding-bottom: 20px;
}

.footer-nav-links a {
  text-decoration: none;
  color: var(--muted-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

/* .subscription-container {
  width: 321px;
} */

.subscription-form-text {
  color: var(--muted-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.email-subscription {
  display: flex;
}

.email-subscription input {
  height: 58px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.email-subscription input[type="text"] {
  padding-left: 20px;
  border-radius: 5px 0 0 5px;
}

.email-subscription button {
  background-color: var(--primary-color);
  width: 117px;
  height: 58px;
  border-radius: 0 5px 5px 0;
  font-weight: 400;
}

.footer-ending {
  background-color: var(--secondary-color-2);
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-ending h6 {
  color: var(--light-text-color);
}

#home {
  min-height: 100vh;
  background: url("/images/bg-main-section.jpg") no-repeat;
  background-size: cover;
}

#why_choose_us h2 {
  text-transform: uppercase;
}

#media {
  background: linear-gradient(to bottom, #fafafa 50%, #0b353d 50%);
}

#media .section-content {
  text-align: center;
  position: relative;
}

#media .section-header {
  max-width: 600px;
}

#media h2 {
  text-transform: none;
}

#team h5 {
  color: var(--text-color);
}

#team img {
  width: 328px;
  height: 231px;
  object-fit: cover;
}

#testimonials {
  background-color: #f3f3f3;
}

#contact_us {
  background: url("/images/bg-contact-us-section.jpg") no-repeat;
  background-size: cover;
}

#contact_us h5 {
  padding-top: 90px;
}

#contact_us h2 {
  padding-bottom: 40px;
}

#contact_us h5 {
  color: var(--text-color);
}

@media (max-width: 576px) {
  .content-area {
    width: auto;
  }

  .navigation {
    background-color: #f6f6f6;
    flex-wrap: wrap;
  }

  .brand-name {
    flex-grow: none;
    padding-left: 50px;
  }

  .nav-links {
    width: 100%;
    flex-direction: column;
    align-items: center;

    order: 3;
    margin: 50px 0;
  }

  .nav-links a {
    font-size: 30px;
    font-weight: 400;
  }

  .nav-icons {
    order: 2;
    padding-right: 95px;
  }

  .nav-icons img {
    width: 24px;
  }

  .toggler-button {
    right: 45px;
    top: 47px;
  }

  .main-page-header {
    text-align: center;
  }

  .toggler-button img {
    width: 25px;
  }

  .main-page-header button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  .main-page-info {
    flex-direction: column;

    gap: 50px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .section-container {
    padding-top: 54px;
    padding-bottom: 54px;
    width: auto;
  }

  .team-members,
  .features-container {
    flex-direction: column;
    align-items: center;
  }

  #media {
    padding: 50px 70px;
  }

  .media-img {
    max-width: 306px;
    height: 442px;
    object-fit: cover;
  }

  #testimonials {
    padding: 50px 70px;
  }

  .client-reviews {
    flex-direction: column;
    align-items: center;
  }

  #contact_us .content-area {
    padding-left: 70px;
    padding-right: 70px;
  }

  .contact-us-form {
    flex-direction: column;
    width: initial;
  }

  .contact-us-form input,
  .contact-us-form select {
    width: 100%;
  }

  .contact-us-footer {
    height: auto;
  }

  .contact-us-footer-row {
    display: block;
    padding-left: 70px;
    padding-right: 70px;
  }

  .contact-btn {
    margin-top: 40px;
  }

  .footer-header {
    flex-direction: column;
    align-items: start;
    padding-left: 70px;
  }

  hr {
    display: none;
  }

  .footer-nav {
    padding-left: 70px;
  }

  .footer-nav {
    flex-direction: column;
  }

  .footer-ending h6 {
    text-align: center;
  }
}
